doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Document
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css')
style.
  @import url("https://fonts.googleapis.com/css2?family=Exo+2&display=swap");
  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
  @import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Exo+2&display=swap");
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto+Slab:wght@100..900&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
  :root {
  --body-color: #312e2b;
  --primary: rgb(23, 23, 23);
  --default-color: #bababa;
  --accent: rgb(205, 40, 18);
  --secondary: #5f8805;
  --square-width: 3.5vw;
  --square-width-mobile: 12vw;
  }
  ::-webkit-scrollbar {
  display: none;
  }
  body {
  background-color: var(--body-color);
  color: var(--default-color);
  font-family: "Mukta", sans-serif;
  font-weight: 400;
  font-style: normal;
  height: 100%;
  overflow: scroll;
  z-index: 0;
  }
  .main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1vw;
  }
  .content {
  display: flex;
  }
  .options {
  background-color: #333;
  width: 20vw;
  margin: 0 1vw;
  border-radius: 5px;
  height: 100%;
  }
  .option {
  padding: 0.5vw 1vw;
  cursor: pointer;
  background-color: #222;
  }
  .active-option {
  background-color: var(--secondary);
  }
  .option-details {
  background-color: #222;
  padding: 1%;
  min-width: 50vw;
  border-radius: 5px;
  }
  .logo {
  font-size: x-large;
  cursor: pointer;
  font-weight: bold;
  color: var(--secondary);
  }
  .profile-details {
  display: flex;
  flex-direction: column;
  }
  .profile-details>div {
  margin: 1vw 0;
  }
  .profile-image {
  height: 100%;
  border-radius: 5px;
  }
  .profile {
  display: flex;
  height: 22vh;
  }
  .profile>div {
  margin-right: 1vw;
  }
  .slogan {
  font-size: medium;
  color: grey;
  }
  .rating {
  font-size: large;
  font-weight: bold;
  color: goldenrod;
  }
  .user-title {
  background-color: #444;
  padding: 0 0.5vw;
  color: goldenrod;
  }
  .chess-info-component {
  display: flex;
  }
  .career {
  display: flex;
  width: 100%;
  justify-content: space-around;
  }
  .career>div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #333;
  align-items: center;
  width: 20%;
  }
  .games-won{
    background-color:red;
  }
  .profile-actions {
  display: flex;
  width: 100%;
  }
  .profile-action {
  width: 100%;
  }
  .danger-zone {
  background-image: linear-gradient(to right, rgba(255, 0, 0, 0.2), rgba(255, 0, 0, 0.1));
  padding: 1vw;
  }
  .change-password {
  display: flex;
  flex-direction: column;
  align-items: center;
  }
  .change-password>div {
  width: 95%;
  margin: 1% 0;
  }
  .about {
  display: flex;
  flex-direction: column;
  }
  .about-textarea {
  background-color: #222;
  outline: none;
  color: #fff;
  width: 100%;
  height: 20vh;
  border-radius: 5px;
  font-family: "Mukta", sans-serif;
  }
  textarea {
  resize: none;
  }
  .big-button {
  cursor: pointer;
  border-radius: 3px;
  padding: 0.5vw 0.5vw;
  box-shadow: 3px 0px 0px rgba(93, 131, 5, 0.6), 3px 0px 0px rgba(120, 180, 15, 0.6);
  background-image: linear-gradient(to bottom, #6d9e05, #5f8805);
  color: white;
  }
  .big-button:hover {
  background-image: linear-gradient(to bottom, #77aa09, #6d9c06);
  }
  .save-button {
  align-self: center;
  padding: 0.5vw 2vw;
  /* width: 20%; */
  }
  .input {
  background-color: #222;
  outline: none;
  border: 1px solid rgb(77, 73, 73);
  padding: 1%;
  font-size: 15px;
  width: 98%;
  border-radius: 3px;
  color: var(--default-color);
  }
  .input:focus {
  box-shadow: 0px 0px 3px var(--secondary);
  }
  .submit-button-input {
  border: none;
  }
  .danger-zone-actions {
  display: flex;
  }
  .danger-action {
  background-color: var(--accent);
  padding: 0.5%;
  border-radius: 5px;
  margin: 0 1%;
  cursor: pointer;
  }
  .advanced-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  }
  .footer-links {
  color: var(--default-color);
  font-size: small;
  width: 100%;
  text-align: center;
  /* text-wrap: nowrap; */
  }
  .footer-link {
  color: grey;
  margin: 0 0.5%;
  }
  .footer-link:hover {
  color: white;
  }
  .footer-options {
  display: flex;
  justify-content: center;
  align-items: center;
  color: grey;
  font-size: xx-large;
  width: 100vw;
  }
  .footer-options>div {
  margin-right: 2vw;
  }
  .footer-option {
  color: grey;
  text-wrap: nowrap;
  margin: 0 0.5vw;
  }
  .footer-option:hover {
  color: white;
  }
.logo
  i.fas.fa-chess
  | PiChess
.main
  .title
    h1
      i.fas.fa-cog
      |  Settings
  .content
    .options
      .option.profile-option.active-option Profile
      .option.board-settings Board Settings
    .option-details
      .profile-details
        .profile
          .profile-photo
            img.profile-image(src='../../assets/image-files/default_profile.gif' alt='')
          .user-info
            span(style='display: flex;')
              h2.user-title #{title}
              h2.username
                | #{username}
            .rating #{rating}
            .slogan Hey there! I am playing chess
        .chess-info
          .chess-info-component
            .label Email: &nbsp;
            .email #{email}
          .chess-info-component
            .label Joined: &nbsp;
            .joined 1 April 2024
        .career
          .total-games
            div Total
            .count #{total_games}
          .games-won
            div Won
            .count #{games_won}
          .games-lost
            div Lost
            .count #{games_lost}
          .games-draw
            div Draw
            .count #{games_draw}
        .profile-actions
          .profile-action.change-password
            div
              h2
                | Change Password
            form(action='/change-password' method='post')

            .new-password
              input.input(type='password' placeholder='New password')
            .confirm-new-password
              input.input(type='password' placeholder='Confirm New password')
            div
              input.submit-button-input.big-button(type='submit' value='Change Password')
          // <div class="profile-action delete-account">Delete Account</div>
        .about
          .about-title
            h2 About
          .about-content
            textarea.about-textarea(name='' id='' cols='30' rows='10')
          .save-button.big-button Save
        .danger-zone
          div
            h2 Danger Zone
          .danger-zone-actions
            .danger-action.delete-account Delete Account
            .danger-action.disable-account Disable Account
.advanced-footer
  .footer-links
    a.footer-link(href='') Help
    |  |
    a.footer-link(href='') Chess Terms
    |  |
    a.footer-link(href='') About
    |  |
    a.footer-link(href='') Students
    |  |
    a.footer-link(href='') Jobs
    |  |
    a.footer-link(href='') Developers
    |  |
    a.footer-link(href='') User Agreement
    |  |
    a.footer-link(href='') Privace
    |  |
    a.footer-link(href='') Fair Play
    |  |
    a.footer-link(href='') Partners
    |  |
    a.footer-link(href='') PiChess.org &copy; 2023-2024
  .footer-options
    .footer-download-options
      a.footer-download-option.footer-option(href='')
        i.fab.fa-apple
      a.footer-download-option.footer-option(href='')
        i.fab.fa-android
    .footer-contact-options
      a(href='')
        i.footer-option.fab.fa-facebook
      a(href='')
        i.footer-option.fab.fa-twitter
      a(href='')
        i.footer-option.fab.fa-instagram
      a(href='')
        i.footer-option.fab.fa-youtube
      a(href='')
        i.footer-option.fab.fa-github
